body{
  background-color: #fff;
  font-family: trebuchet ms, arial, sans-serif;
  margin: 0;
  padding: 0;
}

header{
  background-color: #FF5722;
  margin-bottom: 20px;
}
h1{
  margin: 0;
  padding: 30px 20px 30px 40px;
  font-size: 5em;
  color: #fff;
}

.subtitular{
  color: #FFCCBC;
  margin: 0 40px 30px 40px;
  font-style: italic;
  font-size: 1.7em;
}
nav{
  font-size: 1.5em;
  padding-bottom: 20px;
  text-align: right;
}
header ul{
  margin: 0;
  padding: 0;
}
header li{
  list-style-type: none;
  display: inline;
  padding-right: 20px;
}
header a{
  text-decoration: none;
  color: #fff;
}
main{
  padding: 0 30px 20px;
  display: table-cell;
  vertical-align: top;
}
article{
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 10px 15px;
}
article h2{
  color: #E64A19;
  font-size: 1.8em;
  margin-top: 0;
  cursor: move;
}
article p{
  color: #666;
}
.acciones{
  text-decoration: none;
  margin-left: 10px;
  text-transform: uppercase;
  color: #fff;
  background-color: #009688;
  padding: 10px;
  border-radius: 6px;
  font-size: .8em;
}
article footer{
  text-align: right;
  margin-bottom: 10px;
}
aside{
  display: table-cell;
  vertical-align: top;
  width: 320px;
}
aside img{
  margin: 0 10px 20px
}
