@mixin u-clearfix {
  // For modern browsers
  // 1. The space content is one way to avoid an Opera bug when the
  //    contenteditable attribute is included anywhere else in the document.
  //    Otherwise it causes space to appear at the top and bottom of elements
  //    that are clearfixed.
  // 2. The use of `table` rather than `block` is only necessary if using
  //    `:before` to contain the top-margins of child elements.
  // 3.For IE 6/7 only.
  //   Include this rule to trigger hasLayout and contain floats.
  *zoom: 1; // [3]

  &:before,
  &:after {
    content: ' '; // [1]
    display: table; // [2]
  }

  &:after {
    clear: both;
  }
}


// HIDE STUFF
// ----------------------------------------------------------------------------
@mixin u-hide--visually {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.u-hide {
  display: none !important;
  visibility: hidden !important;

  &--visually {
    @include u-hide--visually;
  }
}
